/************ Custom Font ************/
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3.9vw; /*new*/
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #fff4f4 !important;
  color: #252424 !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:320px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}
/************ Navbar Css ************/
nav.navbar {
  padding: 0.94vw 0.94vw; 
  position: absolute;
  width: 100%;
  top: 1.6vw;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #252424 !important;
  letter-spacing: 0.8px;
  padding: 0 1.2vw;
  font-size: 1.6vw;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}

/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 8vw 0 50px 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.image-container {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 15%;
  left: 69%;
  transform: translate(-50%, -50%);
  color: rgb(52, 52, 52);
  width: 60%;
  text-align: right;
}

.banner h1 {
  
  font-size: 4vw;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  display: block;
  padding-top: -10px; 
}
.banner h2 {
  font-size: 2vw;
  font-weight: 500;
  letter-spacing: 0.8px;
  line-height: 1;
  display: block;
}

.banner p {
  color: #252424c4;
  font-size: 1.3vw;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 40vw;
  margin-bottom: 2vw !important;
}
.banner h6
{
  color: #252424c4;
}
.banner img{
  margin-top: -14vw;

}
.textmain
{
  padding-left: 70px !important;
}
.aligh-items-center
{
  align-items: center;
}

.aboutme
{
  align-items: center;
}


/************ Contact Css ************/
.contact {
  padding: 2vw 0 0 0;
  border-radius: 10px;
}
.contact img {
  width: 92%;
}
.contact h2 {
	font-size: 3vw;
	font-weight: 700;
  margin-bottom: 10px;
}

.contact h3
{
  font-size: 2vw;
}
.contact p
{
  font-size: 1vw;
}
.contact form input, .contact form textarea {
  
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 0.01vw solid #3363aa;
  border-radius: 15px;
  color:#3363aa;
  margin: 0 0 8px 0;
  padding: 2vw 3.4vw;
  font-weight: 500;
  font-size: 0.9vw;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: #10a0f416;
  color: #252424;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 1vw;
  font-weight: 400;
  color: #252424;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #252424;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #252424;
  background-color:  rgba(7, 66, 100, 0.368);
  padding: 14px 48px;
  font-size: 1vw;
  margin-top: 2px;
  border-radius: 15px;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}

.contact form button:hover::before {
  width: 100%;
}

.contactcard
{
  padding-right: 10%;
  padding-left: 10%;
}

/* About me */

.aboutme p {
  color: #252424c4;
  font-size: 1.3vw;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 50vw;
}


/*--------Projects */
.projects h2
{
  text-align: center;
  font-size: 5vw;
  font-weight: 700;
  margin-bottom: 4vw;
}

/* Projects Carousel */

.card
{
  

  border-color: #3363aa !important; 
  border-width: 1px !important;
  border-radius: 20px !important;

}

.card-texth
{
  font-size: 16px;
  color: #D14311;
  text-align: left;
  margin-bottom: 3px !important;
}
.card-text
{
  font-size: 13px;
  text-align: justify;
}
.carousel
{
  align-items: center;
  justify-content: center;
}
.carousel2
{
  padding-bottom: 100px;
  
}
.carousel2 .slick-prev, 
.carousel2 .slick-next{
    border-radius: 40px;
    background-color: #1e4581; /* Change the color to your desired color */
  }
.carousel2 .slick-prev:hover, 
.carousel2 .slick-next:hover{
    border-radius: 40px;
    background-color: #1e4581; /* Change the color to your desired color */
}

.footer {
  
  background-size: cover;
  color: rgb(8, 8, 8);
  text-align: center;
  padding: 4vw 4vw;
}
.maincontact
{
  margin-top: 8vw;
  margin-bottom: 8vw;
}


.footer h4{
  font-size: 1.6vw;
}


.footer h6{
  font-size: 1.2vw;
}